## Numeric types

#### int

In [1]:
n = 1000

#### float

In [8]:
number1 = 0.1
number2 = 0.2

In [6]:
number1 + number1

0.2

In [3]:
number1 + number2

0.30000000000000004

#### complex

What is the root of -1?

In [17]:
c = (-1) ** 0.5
c

(6.123233995736766e-17+1j)

In [18]:
type(c)

complex

## Operators

* \+ : addition
* \- : subtraction
* \* : multiply
* / : division
* // : floored division
* % : modulo
* ** : power

In [21]:
17 // 7

2

In [22]:
17 % 7

3

## Conditional opeators

* \>
* \>=
* \<
* \<=
* \==
* \!=

## Boolean operators

* and
* or
* not

In [23]:
getal = 8

In [24]:
getal > 1 and getal < 10

True

In [25]:
1 < getal < 10

True

## Bitwise operators

* \& : and
* \| : or
* \^ : xor
* \! : not

In [26]:
n1 = 7    # 0111
n2 = 5    # 0101

In [27]:
n1 | n2

7

In [28]:
n1 & n2

5

In [29]:
n1 ^ n2

2

## Strings

In [30]:
s = 'abcdefg'

In [31]:
sentence = "this is an example of a string"

In [32]:
sentence.upper()

'THIS IS AN EXAMPLE OF A STRING'

In [33]:
sentence.title()

'This Is An Example Of A String'

In [34]:
sentence.capitalize()

'This is an example of a string'

In [38]:
words = sentence.split()
words

['this', 'is', 'an', 'example', 'of', 'a', 'string']

In [40]:
'_'.join(words)

'this_is_an_example_of_a_string'

In [44]:
result = 4.6784
print('The result is %.2f' % result)
print(f'The result is {result:.2f}')

The result is 4.68
The result is 4.68

### Unicode

In [45]:
ascii = 'abcde..xyzABCD...XYZ0123456789!@#$%^&*()_'

In [48]:
c = '\u01B7'
c

'Æ·'

In [51]:
'pati\u00EBnt'

'patiÃ«nt'

## Flow statements

In [55]:
for getal in [2,7,4,9,5,6]:
    print(getal)
print('Klaar!')

2
7
4
9
5
6
Klaar!

## Functions

In [78]:
def maximum_minimum(*getallen):
    mx = getallen[0]
    mn = getallen[0]
    for getal in getallen[1:]:
        if getal > mx:
            mx = getal
        if getal < mn:
            mn = getal
    return mn, mx

In [76]:
result = maximum_minimum(7, 23, 6, 1, 56)
result

(1, 56)

In [79]:
minimum, maximum = maximum_minimum(7, 23, 6, 1, 56)

In [80]:
minimum

1

In [81]:
maximum

56

In [89]:
def banner(s, star = '*', n = 1):
    print(star*n + ' ' + s + ' ' + star*n)

In [90]:
banner('Peter')

* Peter *

In [91]:
banner('Peter', '#')

# Peter #

In [92]:
banner('Peter', '#', 10)

########## Peter ##########

In [96]:
banner('Peter', n = 10, star = '!')

!!!!!!!!!! Peter !!!!!!!!!!

In [97]:
import pandas as pd

In [98]:
!ls

First Notebook.ipynb Python Basics.ipynb  data.csv

In [102]:
filename = 'data.csv'
df = pd.read_csv(filename, sep = ';')
df

     naam  woonplaats   leeftijd
0   Peter        Lhee         65
1  Roelof   Amsterdam         38
2   Daria       Zeist         35

### Lambda

In [104]:
words

['this', 'is', 'an', 'example', 'of', 'a', 'string']

In [105]:
sorted(words)

['a', 'an', 'example', 'is', 'of', 'string', 'this']

In [107]:
sorted(words, reverse = True)

['this', 'string', 'of', 'is', 'example', 'an', 'a']

In [108]:
sorted(words, key = len)

['a', 'is', 'an', 'of', 'this', 'string', 'example']

In [112]:
def number_of_a(s):
    return s.count('a')

In [113]:
number_of_a('abacadabra')

5

In [114]:
sorted(words, key = number_of_a)

['this', 'is', 'of', 'string', 'an', 'example', 'a']

In [123]:
sorted(words, key = lambda s: sum(s.count(vowel) for vowel in 'aeiouy'))

['this', 'is', 'an', 'of', 'a', 'string', 'school', 'example']

## Reading from a file

In [125]:
filename = 'data.csv'
with open(filename, 'r') as f:
    for line in f:
        line = line.rstrip('\n')
        fields = line.split(';')
        print(fields)

['naam', ' woonplaats', ' leeftijd']
['Peter', ' Lhee', ' 65']
['Roelof', ' Amsterdam', ' 38']
['Daria', ' Zeist', ' 35 ']

In [126]:
filename = 'data.csv'
f = open(filename, 'r')
for line in f:
    line = line.rstrip('\n')
    fields = line.split(';')
    print(fields)
f.close()

['naam', ' woonplaats', ' leeftijd']
['Peter', ' Lhee', ' 65']
['Roelof', ' Amsterdam', ' 38']
['Daria', ' Zeist', ' 35 ']

## Lists

In [127]:
getallen = [1,2,3,7,4,6]

In [132]:
getallen[-2]

4

In [133]:
getallen[2:5]

[3, 7, 4]

In [134]:
getallen.append(99)
getallen

[1, 2, 3, 7, 4, 6, 99]

In [136]:
getallen.insert(0, 77)
getallen

[77, 77, 1, 2, 3, 7, 4, 6, 99]

## List comprehension

In [137]:
getallen = [7,5,8,3,7]

In [138]:
[getal ** 2 for getal in getallen]

[49, 25, 64, 9, 49]

In [142]:
[getal ** 2 for getal in range(20) if getal % 4 == 0]

[0, 16, 64, 144, 256]

## Tuple

In [143]:
t = tuple(getallen)
t

(7, 5, 8, 3, 7)

In [144]:
t.append(99)

AttributeError: 'tuple' object has no attribute 'append'

## Dict

In [145]:
d = {'Amsterdam':'020', 'Zeist':'030', 'Utrecht':'030'}
d

{'Amsterdam': '020', 'Zeist': '030', 'Utrecht': '030'}

In [146]:
d['Amsterdam']

'020'

In [147]:
value_to_find = '030'
for k, v in d.items():
    if v == value_to_find:
        print(k)

Zeist
Utrecht

## Statistics

In [152]:
import statistics
import random

In [154]:
getallen = [random.randint(1, 99) for _ in range(30)]

In [155]:
statistics.quantiles(getallen, n = 4)

[26.0, 45.5, 67.5]

In [156]:
statistics.median(getallen)

45.5

In [159]:
print(*sorted(getallen))

1 7 15 15 21 24 26 26 26 32 35 36 38 40 44 47 50 55 56 60 63 65 67 69 71 73 81 86 87 99